@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wight@300;400;500;600;700;800;900 &display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    
}

.main-cadastro {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-cadastro {
    width: 50vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.left-cadastro > h1 {
    color: white;
    font-size: 3vw;
}

.left-cadastro-image {
    width: 35vw;
}

.right-cadastro {
    width: 50vw;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-cadastro > h1 {
    padding: 15px;
    color: white;
    font-weight: 800;
    margin: 0;
    font-size: 1.5em;
}

.logo {
    width: 50px;
    margin-bottom: -10px;
    
}


.textfield {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    

}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: white;
    color: rgba(0, 0, 0, 0.753);
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000091;
    outline: none;
    box-sizing: border-box;
    margin-top: 15px;
}

input:hover {
    color: #fff;
    background-color: #201b2c;
    
    
}

.btn-cadastro {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-weight: 800;
    letter-spacing: 1px;
    color: white;
    background: #af1964;
    cursor: pointer;
    box-shadow: 0px 10px 40px -19px #C21E6F;
    font-size: 12pt;
}

p {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 950px) {
    .card-cadastro {
        width: 85%;
    }
}

@media only screen and (max-width: 600px) {
    .main-cadastro {
        flex-direction: column;
        
    }

    .left-cadastro > h1 {
        display: none;
    }

    .left-cadastro {
        width: 100%;
        height: auto;
    }

    .right-cadastro {
        width: 100%;
        height: auto;
    }

    .card-cadastro {
        width: 90%;
        margin-right: 0.8vw;
    }

    .left-cadastro-image {
        display: none;
    }

    .card-cadastro > h1 {
        font-size: 1.3em;
    }
    
}

